@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
@import url(http://fonts.googleapis.com/css?family=Cutive);

body {
	background-color: #fff;
	font-family: Arial;
	font-size: 0.8em;
	color: #333;
	width: 100%;
}

.centre {
	text-align: center;
}

.hidden {
	display: none;
}

.clear {
	height: 1px;
	clear: both;
	width: 100%;
}

.floatleft {
	float: left;
}

.floatright {
	float: right;
}

.token {
	color: #333 !important;
}

.extremely_positive {
	color: #117700;
}

.extremely_positive.token {
	border-bottom-color: #117700 !important;
}

.very_positive {
	color: #22cc00;
}

.very_positive.token {
	border-bottom-color: #22cc00 !important;
}

.moderately_positive {
	color: #66ff33;
}

.moderately_positive.token {
	border-bottom-color: #66ff33 !important;
}

.somewhat_positive {
	color: #88ff77;
}

.somewhat_positive.token {
	border-bottom-color: #88ff77 !important;
}

.slightly_positive {
	color: #bbffaa;
}

.slightly_positive.token {
	border-bottom-color: #bbffaa !important;
}

.neutral {
	color: #bbb;
}

.neutral.token {
	border-bottom-color: transparent !important;
}

.slightly_negative {
	color: #ffaa99;
}

.slightly_negative.token {
	border-bottom-color: #ffaa99 !important;
}

.somewhat_negative {
	color: #ff7766;
}

.somewhat_negative.token {
	border-bottom-color: #ff7766 !important;
}

.moderately_negative {
	color: #ff4433;
}

.moderately_negative.token {
	border-bottom-color: #ff4433 !important;
}

.very_negative {
	color: #ff2211;
}

.very_negative.token {
	border-bottom-color: #ff2211 !important;
}

.extremely_negative {
	color: #bb0000;
}

.extremely_negative.token {
	border-bottom-color: #bb0000 !important;
}

div#wrapper {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;	
}

div#toolbar,
div#content {
	width: 100%;
}

div#toolbar_wrapper {
	width: 100%;
	position: fixed;
	top: 0px;
	padding-top: 10px;
	left: 0;
	background-color: #fff;
	z-index: 1;
}

div#toolbar {
	width: 99%;
	margin-bottom: 10px;
	background-color: #F6F6F6;
	border-radius: 5px;
	border: 1px solid #D6D8DB;
	padding-top: 10px;
	padding-bottom: 8px;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	max-width: 800px;	
}

div#toolbar ul {
	width: 100%;
}

div#toolbar ul li {
	float: left;
	width: 6%;
	margin-right: 2%;
	padding-right: 2%;
	text-align: center;
	border-right: 1px solid #D6D8DB;
}

div#toolbar ul li:hover a img,
div#toolbar ul li.selected a img {
	opacity: 1;
}

div#toolbar ul li.logout {
	margin-right: 0;
	padding-right: 0;
	width: 10%;
	border-right: none;
}

div#toolbar ul li.logout img {
	opacity: 1;
}

div#toolbar ul li.search {
	margin-left: 1%;
    margin-right: 3%;
    width: 64%;
	border-right: none;
}

div#toolbar ul li.list,
div#toolbar ul li.graph,
div#toolbar ul li.logout {
	width: 5%;
}

div#toolbar ul li.list {
	margin-left: -1.5%;
}

div#toolbar ul li img {
	width: 24px;
	height: 24px;
	opacity: 0.25;
}

div#toolbar ul li.search form#search {
	width: 100%;
}

div#toolbar ul li.search form#search input.value {
	height: 28px;
	border: 0;
	margin-top: -3px;
	border-radius: 5px;
	border: 1px solid #D6D8DB;
	width: 96%;
	margin-right: -32px;
	padding-left: 2%;
	padding-right: 2%;
}

div#toolbar ul li.search form#search input.submit {
	height: 20px;
	width: 20px;
	background: url('/assets/images/search.png') transparent;
	border: 0;
	background-size: 20px 20px;	
	padding: 0;
	cursor: pointer;
	margin-top: 2px;
}

div#toolbar ul li.search form#search input.submit.throbber {
	background: url('/assets/images/throbber_small.gif') transparent no-repeat 4px 4px;
}

div#toolbar ul li a {
	
}

div#toolbar ul li.logo {
	border-right: 0;
	margin-right: 0;
	padding-right: 0;
	padding-left: 1%;
	width: 5%;
}

div#toolbar ul li.logo img {
	opacity: 1;
}

div#content {
	margin-bottom: 10px;
	margin-top: 70px;
}

div#content div#load_more,
div#content div#loading,
div#content div#no_results,
div#content div#load_scroll {
	width: 98%;
	margin-bottom: 10px;
	padding: 1%;
	position: relative;
	text-align: center;
}

div#instructions {
	position: relative;
}

div#instructions img {
	left: 10px;
    position: absolute;
    top: -20px;
    z-index: 100;
}

div#instructions p {
	display: block;
    left: 25px;
    max-width: 300px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 125px;
    width: 300px;
    text-align: left;
    color: #000;
    font-size: 180%;
    font-family: 'Indie Flower', cursive;
}

div#instructions img.chart {
	left: 700px;
	height: 100px;
}

div#instructions p.chart {
	left: 500px;
	top: 75px;
	font-size: 150%;
}

div#loading {
	margin-top: 25%;
	color: #999;
	font-style: italic;
}

div#content div#load_more {
	background-color: #eef;
	cursor: pointer;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	font-style: italic;
	color: #999;
	font-size: 90%;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05) inset;
}

div#content div#load_more:hover {
	box-shadow: none;
}

div#content div#no_results {
	font-style: italic;
	font-size: 90%;
	color: #aaa;
}

div#content div.result,
div#overlay div.result {
	border-bottom: 1px dotted #ccc;
	padding-bottom: 10px;
	width: 98%;
	position: relative;
	padding: 1%;
	padding-top: 10px;
	padding-bottom: 10px;
}

div#content div.result.even {
	background-color: #eee;
}

div#content div.result div.pic,
div#overlay div.result div.pic {
	max-width: 6%;
	width: 6%;
	margin-right: 2%;
}

div#content div.result div.pic img,
div#overlay div.result div.pic img {
	width: 100%;
	display: block;
	background: url('/assets/images/user.png') no-repeat transparent top left;
	height: 48px;
	border: 1px solid #FFFFFF;
    border-radius: 5px 5px 5px 5px;
}

div#content div.result div.value,
div#overlay div.result div.value {
	width: 85%;
	margin-right: 2%;
}

div#content div.result ul.tokens,
div#overlay div.result ul.tokens {

}

div#content div.result ul.tokens li,
div#overlay div.result ul.tokens li {
	border-bottom: 1px solid #000000;
    float: left;
    margin-bottom: 4px;
    margin-right: 4px;
    padding-bottom: 1px;
}

div#content div.result div.value div.info,
div#overlay div.result div.value div.info {
	margin-bottom: 5px;
}

div#content div.result div.value div.info span.name,
div#overlay div.result div.value div.info span.name {
	font-weight: bold;
}

div#content div.result div.value div.info span.at_tag a,
div#overlay div.result div.value div.info span.at_tag a {
	color: #aaa;
	font-size: 70%;
	text-decoration: none;
}

div#content div.result div.score,
div#content div.result div.date,
div#overlay div.result div.score,
div#overlay div.result div.date {
	width: 20%;
	text-align: right;
}

div#content div.result div.score,
div#overlay div.result div.score {
	font-weight: bold;
	position: absolute;
	top: 11px;
	right: 1%;
}

div#content div.result:hover div.score,
div#overlay div.result:hover div.score {
	font-size: 120%;
}

div#content div.result div.date,
div#overlay div.result div.date {
	position: absolute;
	bottom: 7px;
	right: 1%;
	width: auto;
	color: #AAAAAA;
    font-size: 80%;
}

div#content div#load_scroll {
	margin-top: 10px;
}

div#content div#chart_view div.highcharts-container {
	padding-top: 20px;
	margin-bottom: 20px;
}

div.error h2,
div#content div#chart_view h3 {
	padding-top: 20px;
	font-size: 110%;
	font-family: Cutive;
}

div.error h2 {
	font-size: 150%;
	display: inline;
	margin-left: auto;
	margin-right: auto;
}

div.error img {
	margin-top: 40px;
}

div#content div#chart_view em {
	color: #BBBBBB;
    float: right;
    font-size: 90%;
    font-style: italic;
    margin-right: 42px;
    margin-top: -20px;
}

div#alert {
	position: fixed;
	top: 35%;
	background-color: #F6F6F6;
	border: 1px solid #D6D8DB;
	border-radius: 5px;
	padding: 1% 2% 1% 2%;
	width: 30%;
	left: 50%;
	margin-left: -17%;
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
	display: none;
	z-index: 2;
}

div#alert.error {
	background-color: #FFDED8;
	border-color: #ffaa99;
	color: #bb0000;
}

div#alert.error span.close,
div#overlay span.close {
	width: 16px;
	height: 16px;
	display: block;
	position: absolute;
	top: 5px;
	right: 5px;
	background: url('/assets/images/close-error.png') no-repeat;
	cursor: pointer;
}

div#overlay span.close {
	background: url('/assets/images/close-overlay.png') no-repeat;
}

div#alert div.content {
	width: 100%;
	text-align: center;
}

div#overlay {
	height: 100%;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 101;
}

div#overlay div.cont {
	width: 700px;
	left: 50%;
	margin-left: -370px;
	top: 10%;
	min-width: 700px;
	min-height: 300px;
	position: absolute;
	background-color: #fff;
	border-radius: 5px;
	padding: 20px;
	position: relative;
}

div#overlay div.cont h2 {
	font-size: 170%;
	font-family: 'Indie Flower', cursive;;
	margin-bottom: 10px;
}

div#overlay div.cont img.arrow {
	height: 73px;
	position: absolute;
}

div#overlay div.cont img.arrow.large {
	height: 146px;
}

div#overlay div.cont p {
	font-size: 130%;
	font-family: 'Indie Flower', cursive;;
	position: absolute;
}

div#overlay div.cont img.score {
	right: 15px;
    top: 90px;
}

div#overlay div.cont p.score {
	right: 20px;
	top: 160px;
}

div#overlay div.cont img.tweet {
	left: 274px;
    top: 124px;
}

div#overlay div.cont p.tweet {
	left: 213px;
    top: 268px;
}

div#overlay div.cont img.hover {
	top: 110px;
	left: 57px;
}

div#overlay div.cont p.hover {
	left: 15px;
    top: 180px;
    width: 200px;
}

div#overlay div.cont img.class {
	left: 435px;
    top: 110px;
}

div#overlay div.cont p.class {
	right: 68px;
    top: 246px;
    width: 204px;
}

@media only screen and (max-width: 765px) {
	div#wrapper {
		width: 94%;
		margin-left: auto;
		margin-right: auto;
	}

	div#toolbar {
		width: 94%;
	}

	div#toolbar ul li {
		border-right: 0;
	}

	div#toolbar ul li img {
		height: 20px;
		width: 20px;
		margin-top: 2px;
	}

	div#toolbar ul li.search {
		width: 83%;
		margin-left: 4.5%;
	}

	div#toolbar ul li.search form#search input.submit {
		height: 16px;
		width: 16px;
		background-size: 16px 16px;
		margin-top: 2px;
		margin-left: 1%;
	}

	div#toolbar ul li.search form#search input.submit.throbber {
		background-size: 14px 14px;
		background-position: 2px 2px;		
	}

	div#toolbar ul li.logo {
		margin-left: 3%;
		width: 4%;
	}

	div#toolbar ul li.search {
		margin-right: 2%;		
	}	

	div#toolbar ul li.list {
		display: none;
	}

	div#toolbar ul li.graph {
		display: none;
	}

	div#toolbar ul li.logout {
		display: none;
	}

	div#content div#loading {
		margin-top: 40%;
	}

	div#content div.result div.pic img {
		height: auto;
		background: none;
	}

	div#alert {
		width: 84%;
		left: 6%;
		margin-left: 0;
		padding-top: 5%;
		padding-bottom: 5%;
	}

	div#instructions img {
		left: 8%;
		height: 100px;    
	}

	div#instructions p {
		font-size: 140%;
	    left: 11%;    
	    top: 83px;
	    width: 220px;
	}

	div#instructions img.chart,
	div#instructions p.chart {
		display: none;
	}

	div.info {
		margin-top: 2px;
	}

	div.value {
		margin-bottom: 10px;
	}

	div#content {
		top: 75px;
		margin-top: 75px;
	}

	div#content div#chart_view {
		display: none;
	}
	
	div#content div#results_view {
		display: block !important;
	}

	div#overlay {
		display: none;
	}
}

@media only screen and (max-width: 1024px) and (min-width: 765px) {
	div#alert {
		width: 50%;
		margin-left: -28%;
		padding-top: 3%;
		padding-bottom: 3%;
	}

	div#instructions img.chart {
		right: 8%;
		left: auto;
	}
	
	div#instructions p.chart {
		right: 7%;
		width: 250px;
		left: auto;
	}

	div#toolbar ul li.search form#search input.submit.throbber {
		background-size: 14px 14px;
		background-position: 2px 2px;		
	}

	div#content {
		top: 75px;
		margin-top: 75px;
	}

	div#content div#chart_view {
		margin-left: 0;
	}

	div#content div#chart_view h3 {
		margin-left: 10px;
	}

	div#overlay div.cont img.hover {
		display: none;
	}

	div#overlay div.cont p.hover {
		display: none;
	}
}

@media only screen and (min-width: 1024px) {
	div#content div#chart_view div.highcharts-container {
		margin-left: 25px;
	}
}